{% extends 'peptide/base.html' %}
{% load static %}
{% block 'content' %}
<h1>MBPDB add proteins</h1>
<h4>Adds proteins (in Fasta format) to database</h4>
{% for e in errors %}
<div class="alert alert-danger  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
  <span class="sr-only">Close</span>
  </button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{e}}
</div>
{% endfor %}
{% for m in messages %}
<div class="alert alert-info  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
  <span class="sr-only">Close</span>
  </button>
  <span class="sr-only">Error:</span>
  {{m}}
</div>
{% endfor %}
<form method="POST" enctype="multipart/form-data" action="." role="form">
<form method="POST" enctype="multipart/form-data" action="." role="form">
{% csrf_token %}
<div class="form-group">
    <input type="file" name="input_fasta_files" multiple/>
    <p class="help-block">
        You can enter multiple FASTA files simultaneously.</br>
      For peptides from uncataloged milk proteins, reference the comprehensive .fasta file below and add the required proteins. Only add new proteins if required for adding new peptides.
    </p>
    <a href="{% url 'download_fasta_file' %}" target="_blank">Download comprehensive milk protein .fasta file</a> </br>
    <a href="#" id="toggleProteinList">Toggle list of cataloged protein IDs & descriptions</a>
    <div id="proteinList" style="display:none;"></div>
</div>
<button class="btn btn-default">Run</button>
</form>
<br/><br/><br/><br/>
<script>
let proteinDataFetched = false;  // This variable will track if we've already fetched the data

document.getElementById("toggleProteinList").addEventListener("click", function(event) {
    event.preventDefault(); // Prevents the default action of the hyperlink

    const proteinListDiv = document.getElementById("proteinList");

    // If we haven't fetched the protein data yet, fetch it now
    if (!proteinDataFetched) {
        fetch("/get_protein_list/")
        .then(response => response.json())
        .then(data => {
            let content = "";
            for (let desc of Object.keys(data)) {
                for (let pid of data[desc]) {
                    content += `<p>${desc} (${pid})</p>`;
                }
            }
            proteinListDiv.innerHTML = content;
            proteinDataFetched = true; // Mark data as fetched
        })
        .catch(error => {
            console.error("There was an error fetching the protein data:", error);
        });
    }

    // Toggle display based on current state
    if (proteinListDiv.style.display === "none" || !proteinListDiv.style.display) {
        proteinListDiv.style.display = "block";
    } else {
        proteinListDiv.style.display = "none";
    }
});
</script>
{% endblock 'content' %}
