{% extends 'peptide/base.html' %}
{% load static %}
{% block 'content' %}
{% load custom_filters %}
{% for e in errors %}

<div class="alert alert-danger  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
  <span class="sr-only">Close</span>
  </button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
    {{ e|safe }}
</div>
{% endfor %}

<h2><u>Milk Bioactive Peptide Database</u></h2>
<br/>
    <h4>Peptide Search</h4>
<div class="textarea-container">
<form method="POST" enctype="multipart/form-data" action="." role="form" onsubmit="return validateFields();">
{% csrf_token %}
<div class="form-group">
    <textarea name="peptides" rows="10" placeholder="YPFPGPIPN" class="tools-form-raw-text-input" data-hj-allow="true">{% if data.peptides %}{{data.peptides}}{% endif %}</textarea><br/>
    <p>Enter a peptide sequence or multiple sequences, or upload a simple text file of peptide sequences. To preform the query click the "Search DB" button. <a href="#" id="loadFileLink">load from a text file</a> | <a href="{% static 'peptide/example/multiple_peptide_example.txt' %}" target="_blank">Example</a></p>
    <input type="file" name="inputfile" id="hiddenFileInput" />
</div>
<script>
document.querySelector('#loadFileLink').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent the default anchor action
    document.querySelector('#hiddenFileInput').click();
});
</script>
{% with tooltip_counter=999 %}
    <!-- Advanced Search Toggle Button -->
<button class="btn btn-default" type="button" id="toggleAdvancedOptions">Advanced Search Options</button>
</button>
<!-- Advanced Search Options (Collapsed by default) -->
<div class="collapsible-content" id="advancedSearchOptions">
    <table>
    <td style="padding-left:0px">
        <label class="col-sm-6 col-form-label"><u>Homology&nbspSearch&nbspOptions:</u></label>
        <div class="col-sm-1">
        <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:550px;">
                        To use the Homology Search Options, peptides must be entered above.
                    </div>
                </div>
        </td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<tr></tr><td style="padding-left:25px">
<div class="form-group row">
    <label class="col-sm-4 col-form-label">Search&nbsptype:</label>

    <div class="col-sm-4">
        <input type="checkbox" name="peptide_option" value="sequence" {% if not peptide_option or 'sequence' in peptide_option %}checked{% endif %}>Sequence<br/>
        <input type="checkbox" name="peptide_option" value="truncated" {% if 'truncated' in peptide_option %}checked{% endif %}>Truncated<br/>
        <input type="checkbox" name="peptide_option" value="precursor" {% if 'precursor' in peptide_option %}checked{% endif %}>Precursor<br/>
    </div>

    <div class="col-sm-1">
        <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
            <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
            <div class="mytooltiptext" style="width:580px;">
                Sequence: Searches for peptides with a match to the above peptide sequence.<br/>
                Truncated: Searches for peptides that contain the above peptide sequence.<br/>
                Precursor: Searches for peptides that are contained within the above peptide sequence.<br/>
            </div>
        </div>
    </div>
</div>
    </td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

    <tr><td style="padding-left:25px">
    <div class="form-group row">
    <label class="col-sm-4 col-form-label">Similarity&nbspthreshold:</label>
    <div class="col-sm-4">
    <select name="seqsim" >
        <option value="10" {% if data.seqsim == "10" %}selected="selected"{% endif %}>10%</option>
        <option value="20" {% if data.seqsim == "20" %}selected="selected"{% endif %}>20%</option>
        <option value="30" {% if data.seqsim == "30" %}selected="selected"{% endif %}>30%</option>
        <option value="40" {% if data.seqsim == "40" %}selected="selected"{% endif %}>40%</option>
        <option value="50" {% if data.seqsim == "50" %}selected="selected"{% endif %}>50%</option>
        <option value="60" {% if data.seqsim == "60" %}selected="selected"{% endif %}>60%</option>
        <option value="70" {% if data.seqsim == "70" %}selected="selected"{% endif %}>70%</option>
        <option value="80" {% if data.seqsim == "80" %}selected="selected"{% endif %}>80%</option>
        <option value="90" {% if data.seqsim == "90" %}selected="selected"{% endif %}>90%</option>
        <option value="100" {% if not data.seqsim or data.seqsim == "100" %}selected="selected"{% endif %}>100%</option>
     </select>
     </div>

                <div class="col-sm-1">
                <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:550px;">
                        The similarity threshold is used with the search type in the following ways:
                        <ul>
                            <li>Sequence: Percent match of query peptide against database peptides.</li>
                            <li>Truncated: Percent match of query peptide against full length of query peptide.</li>
                            <li>Precursor: Percent match of database peptides against query peptide.</li>
                        </ul>
                        Note that for a query that is less than 4 AA, similarity threshold will be 100%. Also, when choosing 100% similarity and the identity matrix, a direct database query will always be used.
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<tr>
    <td style="padding-left:25px">
            <div class="form-group row">
            <label class="col-sm-4 col-form-label">Scoring&nbspmatrix:</label>

            <div class="col-sm-4">
                <input type="checkbox" name="matrix" value="IDENTITY" {% if not matrix or "IDENTITY" in matrix %}checked{% endif %}>Identity<br/>
                <input type="checkbox" name="matrix" value="BLOSUM62" {% if "BLOSUM62" in matrix %}checked{% endif %}>BLOSUM62<br/>
            </div>

            <div class="col-sm-1">
                <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:500px;">
                        The scoring matrix determines how the matches will occur:
                        <ul>
                            <li>Identity: Matches each amino acid exactly.</li>
                            <li>BLOSUM62: Matches each amino acid using blastp and a protein alignment substitution matrix.</li>
                        </ul>
                        Note that for a query that is less than 4 AA, a direct database query will be used. Also, when choosing 100% similarity and the identity matrix, a direct database query will always be used.
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr><td style="padding-left:0px">
        <label class="col-sm-6 col-form-label"><u>Catagorical&nbspSearch&nbspOptions:</u></label>
        <div class="col-sm-1">
        <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:550px;">
                        <li>Without peptides inputed above, the system retrieves all matches for Protein ID, Function, and Species.</li>
                        <li>With peptides inputed above, the search refines matches based on Protein ID, Function, and Species.</li>
                    </div>
                </div>
</td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<td style="padding-left:25px">
    <div class="form-group row">
        <label for="protlabel" class="col-form-label col-sm-2">Protein:</label>

        <div class="col-sm-7 fixed-width-col">
            <select multiple placeholder="Choose Protein ID(s)" data-allow-clear="1" id="protlabel" name="proteinid[]" style="width:100%;">
                <option value=""></option> <!-- This is for the placeholder -->
                {% for desc, pids in description_to_pid.items %}
                    {% for pid in pids %}
                        <option value="{{ pid }}">{{ desc }} ({{ pid }})</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-1">
            <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
                <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                <div class="mytooltiptext" style="width:550px;">
                    Search the database for UniProt accession numbers (protein IDs):
                    <ul>
                        <li>Reference the dropdown list for the cataloged protein IDs and descriptions in the database.</li>
                    </ul>
                    Note that the Protein ID input can be left empty.
                </div>
            </div>
        </div>
    </div>
</td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<td style="padding-left:25px">
<div class="form-group row">
    <label for="funclabel" class="col-form-label col-sm-2">Function:</label>

    <div class="col-sm-7 fixed-width-col">
        <select multiple placeholder="Choose functions" data-allow-clear="1" id="funclabel" name="function[]" style="width:100%;">
            <option value=""></option> <!-- This is for the placeholder -->
            {% for function in functions %}
                <option value="{{function}}">{{function}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-1">
        <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
            <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
            <div class="mytooltiptext" style="width:550px;">
                Search the database for the bioactivity function of peptides:
                <ul>
                    <li>Reference the dropdown list for the cataloged bioactivity functions in the database.</li>
                </ul>
                Note that the Function input can be left blank.
            </div>
        </div>
    </div>
</div>
{% with tooltip_counter=tooltip_counter|add:"-1" %}
</td></tr>

<tr><td style="padding-left:25px">
<div class="form-group row">
    <label for="speciesInput" class="col-form-label col-sm-2">Species:</label>

    <div class="col-sm-7 fixed-width-col">
        <select multiple placeholder="Choose species" data-allow-clear="1" id="speciesInput" name="species[]" style="width:100%;">
            <option value=""></option> <!-- This is for the placeholder -->
            {% for common_name, sci_name in common_to_sci_list.items %}
                {% for sn in sci_name %}
                    <option value="{{ sn }}">{{ common_name }} ({{ sn }})</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-1">
        <div class="mytooltip" style="z-index: {{ tooltip_counter }}">
            <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
            <div class="mytooltiptext" style="width:550px;">
                Search the database for the species of origin for each peptide:
                <ul>
                    <li>Reference the dropdown list for the cataloged species in the database.</li>
                </ul>
                Note that the Species input can be left blank.
            </div>
        </div>
    </div>
</div>
    <br>
</td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

</div>
</table>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</div>
<br/>
<button class="btn btn-default" id="search-db-btn">Search DB</button>  <a href=".">Clear all search criteria</a>
<a name="search_results"></a>
</form>
<br/>
{% if not errors and combined_results or warnings %}
    <a href="{% url 'tsv_search_results' %}{{output_path}}">Download results as a TSV file</a> | If you are referencing this database: <a href="{% url 'about_us' %}#Cite" style="font-size: 20px;"> <b>please cite</b></a>
    <br/>

{{ formated_header|safe }}

<table border="1" id="results_table">
    <thead>
        <tr>
            {% for header in table_headers %}
                <th style="padding:10px;" >
                    {{ header | safe }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
{% for item in combined_results %}
    {% if item.type == "warning" %}
        <tr>
            <td colspan={{ table_headers|length }} style="padding:10px;">
                <div class="warning">
                    {{ item.data|safe }}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            {% for key, value in item.data.items %}
                <td style="padding:10px; max-width:125px; word-wrap:break-word;">
                    {% if key == "Abstract&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"%}
                        <button class="toggle-content">Show Abstract</button>
                        <div class="collapsible-content">
                            {{ value|safe }}
                        </div>
                    {% else %}
                        {{ value|safe }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endif %}
{% endfor %}

        <!-- Display warnings -->
        <!-- {% for w in warnings %}
            <tr>
                <td  colspan={{ table_headers|length }} style="padding:10px;" >
                    <div class="warning">
                        <!-- Warning content -->
                        <!--{{ w|safe }}
                    </div>
                </td>
            </tr>
        {% endfor %}

        <!-- Display regular results -->
        <!-- {% for row in results %}
            <tr>
                {% for key, value in row.items %}
                        <td style="padding:10px; max-width:125px; word-wrap:break-word;">
                        {% if key == "Abstract&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"%}
                            <!-- Make this column collapsible -->
                            <!--<button class="toggle-content">Show Abstract</button>
                            <div class="collapsible-content">
                                {{ value|safe }}
                            </div>
                        {% else %}
                            {{ value|safe }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}-->
    </tbody>
</table>
{% endif %}
<br/><br/><br/><br/>
<script>
$(function () {
  $('select').each(function () {
    $(this).select2({
      theme: 'bootstrap4',
      width: 'style',
      placeholder: $(this).attr('placeholder'),
      allowClear: Boolean($(this).data('allow-clear')),
    });
  });
});

// This part handles the "Show More" and "Show Less" buttons
document.addEventListener("DOMContentLoaded", function() {
    const toggleButtons = document.querySelectorAll(".toggle-content");
    toggleButtons.forEach(function(btn) {
        btn.addEventListener("click", function() {
            const content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
                this.innerText = "Show Abstract";
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
                this.innerText = "Hide Text";
            }
        });
    });
});


document.addEventListener('DOMContentLoaded', function() {
    const toggleBtn = document.getElementById('toggleAdvancedOptions');
    const collapsibleDiv = document.getElementById('advancedSearchOptions');

    // Define a maximum height for the collapsible content
    const maxHeight = "800px";  // For example, set to 300 pixels. You can adjust this value.

    toggleBtn.addEventListener('click', function() {
        if (collapsibleDiv.style.maxHeight && collapsibleDiv.style.maxHeight !== '0px') {
            collapsibleDiv.style.maxHeight = null;
        } else {
            collapsibleDiv.style.maxHeight = maxHeight;
        }
    });
});

document.querySelector('input[name="inputfile"]').addEventListener('change', function(event) {
    var file = event.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // Split the content based on whitespace, tab, newline, and comma
            var peptides = e.target.result.split(/[\s,\t\n]+/);

            // Validate each peptide
            for (const peptide of peptides) {
                if (!/^[a-zA-Z]*$/.test(peptide)) {
                    // Show an error message and prevent further actions
                    alert('Your input has some invalid characters. Please use only letters.');
                    return;
                }
            }

            // Join using newlines and populate the textarea
            document.querySelector('textarea[name="peptides"]').value = peptides.join('\n');

            // Clear the file input
            document.querySelector('input[name="inputfile"]').value = '';
        };
        reader.readAsText(file);
    }
});


document.getElementById('downloadLink').addEventListener('click', function() {
    document.getElementById('hiddenButton').click();
});

// This function checks if the input string has only allowed characters
function isValidInput(str) {
    return /^[A-Za-z0-9, \-]*$/.test(str);
}

// Call this function when you want to validate the fields
function validateFields() {
    const functionInput = document.querySelector("input[name='function']").value;
    const proteinIdInput = document.querySelector("input[name='proteinid']").value;
    const speciesInput = document.querySelector("input[name='species']").value;

    if (!isValidInput(functionInput) || !isValidInput(proteinIdInput) || !isValidInput(speciesInput)) {
        alert('Invalid input. Your input has some invalid characters. Please use only letters, numbers, commas, spaces, or dashes.');
        return false; // Prevent the form from being submitted
    }
    return true; // Proceed with form submission
}
</script>
{% endblock 'content' %}