{% extends 'peptide/base.html' %}
{% load static %}
{% block 'content' %}
<style>
#hiddenFileInput {
    display: none;
}
textarea.tools-form-raw-text-input {
    width: 50vw;
}
.textarea-container p {
    width:50vw;
    word-wrap: break-word;
}
.form-group label, .form-group .help-block {
    text-align: left;
}
</style>
{% for e in errors %}
<div class="alert alert-danger  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
  <span class="sr-only">Close</span>
  </button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
    {{ e|safe }}
</div>
{% endfor %}

<h2><u>Search the Milk Bioactive Peptide Database</u></h2>
<br/>
    <h4>Simple Peptide Search</h4>
<div class="textarea-container">
<form method="POST" enctype="multipart/form-data" action="." role="form">
{% csrf_token %}
<div class="form-group">
    <textarea name="peptides" rows="10" placeholder="YPFPGPIPN" class="tools-form-raw-text-input" data-hj-allow="true">{% if data.peptides %}{{data.peptides}}{% endif %}</textarea><br/>
    <p>Enter a peptide sequence or multiple sequences, or upload a simple text file of peptide sequences separated by white space, tab, new line or commas, <a href="#" id="loadFileLink">load from a text file</a> | <a href="{% static 'peptide/example/multiple_peptide_example.txt' %}" target="_blank">Example</a></p>
    <input type="file" name="inputfile" id="hiddenFileInput" />
</div>
<script>
document.querySelector('#loadFileLink').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent the default anchor action
    document.querySelector('#hiddenFileInput').click();
});
</script>
<!-- Advanced Search Toggle Button -->
<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#advancedSearchOptions" aria-expanded="false" aria-controls="advancedSearchOptions">


    Advanced Search Options
</button>
<!-- Advanced Search Options (Collapsed by default) -->
<div class="collapse" id="advancedSearchOptions">
    <p class="help-block">Note that the Peptide Sequence, Protein ID, Function, and Species, inputs can be empty. <br/> If no peptide sequence is provided, homology search results can't be provided.</p>
    <table>
  <div class="form-group">
    <td style="padding-left:15px">
        <h5><u>Homology Search Options:</u></h5>
        </td></tr>
        <tr><td style="padding-left:30px">
        <label>Search type:</label>

<input type="checkbox" name="peptide_option" value="sequence" {% if not peptide_option or 'sequence' in peptide_option %}checked{% endif %}>Sequence
<input type="checkbox" name="peptide_option" value="truncated" {% if 'truncated' in peptide_option %}checked{% endif %}>Truncated
<input type="checkbox" name="peptide_option" value="precursor" {% if 'precursor' in peptide_option %}checked{% endif %}>Precursor&nbsp;

    <div class="mytooltip"><img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
      <div class="mytooltiptext" style="width:580px;">
      Sequence: Searches for peptides with a match to the above peptide sequence.<br/>
      Truncated: Searches for peptides that contain the above peptide sequence.<br/>
      Precursor: Searches for peptides that are contained within the above peptide sequence.<br/>
      </div>
    </div>


    <tr><td style="padding-left:30px">
    <label>Similarity threshold:</label>
    <select name="seqsim">
        <option value="10" {% if data.seqsim == "10" %}selected="selected"{% endif %}>10%</option>
        <option value="20" {% if data.seqsim == "20" %}selected="selected"{% endif %}>20%</option>
        <option value="30" {% if data.seqsim == "30" %}selected="selected"{% endif %}>30%</option>
        <option value="40" {% if data.seqsim == "40" %}selected="selected"{% endif %}>40%</option>
        <option value="50" {% if data.seqsim == "50" %}selected="selected"{% endif %}>50%</option>
        <option value="60" {% if data.seqsim == "60" %}selected="selected"{% endif %}>60%</option>
        <option value="70" {% if data.seqsim == "70" %}selected="selected"{% endif %}>70%</option>
        <option value="80" {% if data.seqsim == "80" %}selected="selected"{% endif %}>80%</option>
        <option value="90" {% if data.seqsim == "90" %}selected="selected"{% endif %}>90%</option>
        <option value="100" {% if not data.seqsim or data.seqsim == "100" %}selected="selected"{% endif %}>100%</option>
     </select>

     <div class="mytooltip"><img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
       <div class="mytooltiptext" style="width:550px;">
          The similarity threshold is used with the search type in the following ways:
          <ul>
          <li>Sequence: Percent match of query peptide against database peptides.</li>
          <li>Truncated: Percent match of query peptide against full length of query peptide.</li>
          <li>Precursor: Percent match of database peptides against query peptide.</li>
          </ul>
          Note that for a query that is less than 4 AA, similarity threshold will be 100%. Also, when choosing 100% similarity and the identity matrix, a direct database query will always be used.
       </div>
     </div>
     </td><tr/>


    <tr><td style="padding-left:30px">
     <label>Scoring matrix:</label>
    <select name="matrix">
        <option value="IDENTITY" {% if not data.matrix or data.matrix == "IDENTITY" %}selected="selected"{% endif %}>Identity</option>
        <option value="BLOSUM62" {% if data.matrix == "BLOSUM62" %}selected="selected"{% endif %}>BLOSUM62</option>
    </select>

    <div class="mytooltip"><img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
        <div class="mytooltiptext" style="width:500px;">
            The scoring matrix determines how the matches will occur:
            <ul>
            <li>Identity: Matches each amino acid exactly.</li>
            <li>BLOSUM62: Matches each amino acid using blastp and a protein alignment substitution matrix.</li>
            </ul>
            Note that for a query that is less than 4 AA, a direct database query will be used. Also, when choosing 100% similarity and the identity matrix, a direct database query will always be used.
        </div>
    </div>
</div>
</td></tr>
<tr><td style="padding-left:15px">
    <h5><u>Catagorical Search Options:</u></h5>
</td></tr>
<tr><td style="padding-left:30px">
<div class="form-group">
    <label for="protlabel">Protein ID</label>
    <input list="proteinList" name="proteinid" size="30" style="text-align:left;" value="{% if data.proteinid %}{{ data.proteinid }}{% endif %}">
    <datalist id="proteinList">
    {% for desc, pids in description_to_pid.items %}
        <option value="{{ pids|join:", " }}">{{ desc }}</option>
    {% endfor %}
    </datalist>
     <div class="mytooltip"><img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
       <div class="mytooltiptext" style="width:550px;">
          Search the database for UniProt accession numbers (protien IDs):
          <ul>
          <li>Reference the dropdown list for the cataloged protien IDs and descriptions in the database.</li>
          <li>When searching multiple protien IDs a separating comma is required.</li>
          </ul>
          Note that protein ID can be left empty.
       </div>
     </div>
</div>
</td><tr>

<td style="padding-left:30px">
<div class="form-group">
    <label for="funclabel">Function</label>
    <input list="functionList" name="function" size="30" style="text-align:left;" value="{% if data.function %}{{ data.function }}{% endif %}">
    <datalist id="functionList">
    {% for function in functions %}
        <option value= "{{function}}" </option>
    {% endfor %}
    </datalist>
     <div class="mytooltip"><img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
       <div class="mytooltiptext" style="width:550px;">
         Search the database for the bioactivity function of peptides:
         <ul>
         <li>Reference the dropdown list for the cataloged bioactivity functions in the database.</li>
         <li>When searching multiple bioactivity functions a separating comma is required.</li>
         </ul>
         Note that function can be left blank.

       </div>
     </div>
</div>
</td></tr>

<tr><td style="padding-left:30px">
<div class="form-group">
  <label for="speciesInput">Species</label>  <!-- 'for' attribute matches 'id' of input -->
  <input id="speciesInput" list="speciesList" name="species" size="30" style="text-align:left;" value="{% if data.species %}{{ data.species }}{% endif %}">
  <datalist id="speciesList">
    {% for common_name, sci_name in common_to_sci_list.items %}
        {% for sn in sci_name %}
            <option value="{{ sn }}">{{ common_name }}</option>
        {% endfor %}
    {% endfor %}
    </datalist>

     <div class="mytooltip"><img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
       <div class="mytooltiptext" style="width:550px;">
         Search the database for the specie’s of origin for each peptide:
         <ul>
         <li>Reference the dropdown list for the cataloged species in the database.</li>
         <li>When searching multiple species a separating comma is required.</li>
         </ul>
         Note that species can be left blank.
       </div>
     </div>
</div>
</td></tr>
<br/>
<tr><td style="padding-left:15px">
    <h5><u>File Upload:</u></h5>
</td></tr>
<tr><td style="padding-left:30px">
<div class="form-group">
     <input type="file" name="tsv_file" onchange="clearOtherInputs()"/>
     <p class="help-block">Use a correctly formatted TSV (tab-separated values) file with UTF-8 encoding. For format requirements, view the <a href="{% static 'peptide/example/peptide_multi_search_input_example.tsv'%}" target="_blank"> example file</a>.</p>

</div>
</td></tr>
</table>
</div>
</div>
<br/>
<button class="btn btn-default" id="search-db-btn">Search DB</button>  <a href=".">Clear all search criteria</a>
<a name="search_results"></a>
<br/>
{% if results and not errors %}
    <a href="{% url 'tsv_search_results' %}{{output_path}}">Download results as a TSV file</a> | If you are referencing this database: <a href="{% url 'about_us' %}" style="font-size: 20px;"> <b>please cite</b></a>
    <br/>

    {% if file_submitted %}
        {{ results|safe }}
    {% else %}
        {{ results_header|safe }}
        <table border="1" id="results_table">
        {{ results|first|safe }}
        {% for r in results|slice:"1:" %}
            <tr><td style="padding:10px;">
            {{ r|safe}}
            </td></tr>
        {% endfor %}
        </table>
    {% endif %}
{% endif %}

<script>

document.querySelector('input[name="inputfile"]').addEventListener('change', function(event) {
    var file = event.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // Split the content based on whitespace, tab, newline, and comma
            var peptides = e.target.result.split(/[\s,\t\n]+/);

            // Validate each peptide
            for (const peptide of peptides) {
                if (!/^[a-zA-Z]*$/.test(peptide)) {
                    // Show an error message and prevent further actions
                    alert('Invalid input. Only text characters are allowed.');
                    return;
                }
            }

            // Join using newlines and populate the textarea
            document.querySelector('textarea[name="peptides"]').value = peptides.join('\n');

            // Clear the file input
            document.querySelector('input[name="inputfile"]').value = '';
        };
        reader.readAsText(file);
    }
});


function clearOtherInputs() {
    var inputs = document.querySelectorAll('input[type="text"], input[type="checkbox"], textarea, input[list]');
    for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].name !== 'tsv_file') {
            if (inputs[i].type === 'text' || inputs[i].type === 'textarea' || inputs[i].hasAttribute('list')) {
                inputs[i].value = '';
            } else if (inputs[i].type === 'checkbox') {
                inputs[i].checked = false;
            }
        }
    }
}
</script>
{% endblock 'content' %}