{% extends 'peptide/base.html' %}
{% load static %}
{% block 'content' %}
{% load custom_filters %}



<h2><u>Milk Bioactive Peptide Database</u></h2>
<br/>
    <h4>Peptide Search</h4>
<div class="textarea-container">
<form method="POST" enctype="multipart/form-data" action="{% url 'peptide_search' %}" id="peptide-search-form" role="form" onsubmit="showLoadingSpinner(); return validateFields();">
{% csrf_token %}
<div class="form-group">
    <textarea name="peptides" rows="10" placeholder="YPFPGPIPN" class="tools-form-raw-text-input" data-hj-allow="true">{% if data.peptides %}{{data.peptides}}{% endif %}</textarea><br/>
    <p>Enter a peptide sequence or multiple sequences, or upload a simple text file of peptide sequences. To preform the query click the "Search DB" button. <a href="#" id="loadFileLink">load from a text file</a> | <a href="{% static 'peptide/example/multiple_peptide_example.txt' %}" target="_blank">Example</a></p>
    <input type="file" name="inputfile" id="hiddenFileInput" />
</div>


<script>
document.querySelector('#loadFileLink').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent the default anchor action
    document.querySelector('#hiddenFileInput').click();
});
</script>
{% with tooltip_counter=999 %}
    <!-- Advanced Search Toggle Button -->
<button class="btn btn-default" type="button" id="toggleAdvancedOptions">Advanced Search Options</button>
<!-- Advanced Search Options (Collapsed by default) -->
<div class="collapsible-content" id="advancedSearchOptions">
    <table>
    <td style="padding-left:0px">
        <label class="col-sm-6 col-form-label"><u>Homology&nbspSearch&nbspOptions:</u></label>
        <div class="col-sm-1">
        <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:550px;">
                        To use the Homology Search Options, peptides must be entered above.
                    </div>
                </div>
        </td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<tr></tr><td style="padding-left:25px">
<div class="form-group row">
    <label class="col-sm-4 col-form-label">Search&nbsptype:</label>

    <div class="col-sm-4">
        <input type="checkbox" name="peptide_option" value="sequence" {% if not peptide_option or 'sequence' in peptide_option %}checked{% endif %}>Sequence<br/>
        <input type="checkbox" name="peptide_option" value="truncated" {% if 'truncated' in peptide_option %}checked{% endif %}>Truncated<br/>
        <input type="checkbox" name="peptide_option" value="precursor" {% if 'precursor' in peptide_option %}checked{% endif %}>Precursor<br/>
    </div>

    <div class="col-sm-1">
        <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
            <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
            <div class="mytooltiptext" style="width:580px;">
                Sequence: Searches for peptides with a match to the above peptide sequence.<br/>
                Truncated: Searches for peptides that contain the above peptide sequence.<br/>
                Precursor: Searches for peptides that are contained within the above peptide sequence.<br/>
            </div>
        </div>
    </div>
</div>
    </td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

    <tr><td style="padding-left:25px">
    <div class="form-group row">
    <label class="col-sm-4 col-form-label">Similarity&nbspthreshold:</label>
    <div class="col-sm-4">
    <select name="seqsim" >
        <option value="10" {% if data.seqsim == "10" %}selected="selected"{% endif %}>10%</option>
        <option value="20" {% if data.seqsim == "20" %}selected="selected"{% endif %}>20%</option>
        <option value="30" {% if data.seqsim == "30" %}selected="selected"{% endif %}>30%</option>
        <option value="40" {% if data.seqsim == "40" %}selected="selected"{% endif %}>40%</option>
        <option value="50" {% if data.seqsim == "50" %}selected="selected"{% endif %}>50%</option>
        <option value="60" {% if data.seqsim == "60" %}selected="selected"{% endif %}>60%</option>
        <option value="70" {% if data.seqsim == "70" %}selected="selected"{% endif %}>70%</option>
        <option value="80" {% if data.seqsim == "80" %}selected="selected"{% endif %}>80%</option>
        <option value="90" {% if data.seqsim == "90" %}selected="selected"{% endif %}>90%</option>
        <option value="100" {% if not data.seqsim or data.seqsim == "100" %}selected="selected"{% endif %}>100%</option>
     </select>
     </div>

                <div class="col-sm-1">
                <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:550px;">
                        The similarity threshold is used with the search type in the following ways:
                        <ul>
                            <li>Sequence: Percent match of query peptide against database peptides.</li>
                            <li>Truncated: Percent match of query peptide against full length of query peptide.</li>
                            <li>Precursor: Percent match of database peptides against query peptide.</li>
                        </ul>
                        Note that for a query that is less than 4 AA, similarity threshold will be 100%. Also, when choosing 100% similarity and the identity matrix, a direct database query will always be used.
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<tr>
    <td style="padding-left:25px">
            <div class="form-group row">
            <label class="col-sm-4 col-form-label">Scoring&nbspmatrix:</label>

            <div class="col-sm-4">
                <input type="checkbox" name="matrix" value="IDENTITY" {% if not matrix or "IDENTITY" in matrix %}checked{% endif %}>Identity<br/>
                <input type="checkbox" name="matrix" value="BLOSUM62" {% if "BLOSUM62" in matrix %}checked{% endif %}>BLOSUM62<br/>
            </div>

            <div class="col-sm-1">
                <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:500px;">
                        The scoring matrix determines how the matches will occur:
                        <ul>
                            <li>Identity: Matches each amino acid exactly.</li>
                            <li>BLOSUM62: Matches each amino acid using blastp and a protein alignment substitution matrix.</li>
                        </ul>
                        Note that for a query that is less than 4 AA, a direct database query will be used. Also, when choosing 100% similarity and the identity matrix, a direct database query will always be used.
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr><td style="padding-left:0px">
        <label class="col-sm-6 col-form-label"><u>Categorical&nbspSearch&nbspOptions:</u></label>
        <div class="col-sm-1">
        <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
                    <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                    <div class="mytooltiptext" style="width:550px;">
                        <li>Without peptides inputed above, the system retrieves all matches for Protein ID, Function, and Species.</li>
                        <li>With peptides inputed above, the search refines matches based on Protein ID, Function, and Species.</li>
                    </div>
                </div>
</td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<td style="padding-left:25px">
    <div class="form-group row">
        <label for="protlabel" class="col-form-label col-sm-2">Protein:</label>

        <div class="col-sm-7 fixed-width-col">
            <select multiple placeholder="Choose Protein ID(s)" data-allow-clear="1" id="protlabel" name="proteinid[]" style="width:100%;">
                <option value=""></option> <!-- This is for the placeholder -->
                {% for desc, pids in description_to_pid.items %}
                    {% for pid in pids %}
                        <!--<option value="{{ pid }}" {% if pid in data.proteinid %}selected{% endif %}>{{ desc }} ({{ pid }})</option>-->
                        <option value="{{ pid }}">{{ desc }} ({{ pid }})</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-1">
            <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
                <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
                <div class="mytooltiptext" style="width:550px;">
                    Search the database for UniProt accession numbers (protein IDs):
                    <ul>
                        <li>Reference the dropdown list for the cataloged protein IDs and descriptions in the database.</li>
                    </ul>
                    Note that the Protein ID input can be left empty.
                </div>
            </div>
        </div>
    </div>
</td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

<td style="padding-left:25px">
<div class="form-group row">
    <label for="funclabel" class="col-form-label col-sm-2">Function:</label>

    <div class="col-sm-7 fixed-width-col">
        <select multiple placeholder="Choose functions" data-allow-clear="1" id="funclabel" name="function[]" style="width:100%;">
            <option value=""></option> <!-- This is for the placeholder -->
            {% for function in functions %}
                 <!--<option value="{{function}}" {% if function in data.function %}selected{% endif %}>{{function}}</option>-->
                <option value="{{function}}">{{function}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-1">
        <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
            <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
            <div class="mytooltiptext" style="width:550px;">
                Search the database for the bioactivity function of peptides:
                <ul>
                    <li>Reference the dropdown list for the cataloged bioactivity functions in the database.</li>
                </ul>
                Note that the Function input can be left blank.
            </div>
        </div>
    </div>
</div>
{% with tooltip_counter=tooltip_counter|add:"-1" %}
</td></tr>

<tr><td style="padding-left:25px">
<div class="form-group row">
    <label for="speciesInput" class="col-form-label col-sm-2">Species:</label>

    <div class="col-sm-7 fixed-width-col">
        <select multiple placeholder="Choose species" data-allow-clear="1" id="speciesInput" name="species[]" style="width:100%;">
            <option value=""></option> <!-- This is for the placeholder -->
            {% for common_name, sci_name in common_to_sci_list.items %}
                {% for sn in sci_name %}
                    <option value="{{ sn }}">{{ common_name }} ({{ sn }})</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-1">
        <div class="mytooltip" data-z-index="{{ tooltip_counter }}">
            <img src="{% static 'peptide/Help-48-black.png' %}" width="22px" height="22px">
            <div class="mytooltiptext" style="width:550px;">
                Search the database for the species of origin for each peptide:
                <ul>
                    <li>Reference the dropdown list for the cataloged species in the database.</li>
                </ul>
                Note that the Species input can be left blank.
            </div>
        </div>
    </div>
</div>
    <br>
</td></tr>
{% with tooltip_counter=tooltip_counter|add:"-1" %}

</div>
</table>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</div>
<br/>



<button class="btn btn-default" id="search-db-btn">Search DB</button>  <a href=".">Clear all search criteria</a>
<br/><br/>
</form>
<div id="errors-container">
    {% for e in errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ e|safe }}
        </div>
    {% endfor %}


</div>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Select2 library -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        function showLoadingSpinner() {
        document.getElementById('loadingSpinner').style.display = 'block';
            $('#task-progress').show();
            $('#elapsed-time').show();
        }

        function hideLoadingSpinner() {
            document.getElementById('loadingSpinner').style.display = 'none';
        }
    function fetchActiveTasks(callback) {
        $.ajax({
            url: '/get-active-tasks/',  // Ensure this URL matches the Django URL pattern
            method: 'GET',
            success: function(data) {
                if (data.errors && data.errors.length > 0) {
                    console.error('Errors returned:', data.errors);
                    displayErrors(data.errors);  // Display the errors
                    $('#search-db-btn').prop('disabled', false);
                    $('#search-db-btn').text('Search');
                } else {
                    let activeTaskIds = data.active_task_ids;
                    console.log('Active Task IDs:', activeTaskIds);
                    // $('#active-task-ids').html('Active Task IDs: ' + activeTaskIds.join(', '));
                    callback(activeTaskIds);  // Pass activeTaskIds to the callback

                }
            },
            error: function(err) {
                console.error('Error submitting form data:', err);
                let errorMessages = ['An error occurred while fetching active tasks. Please try again.'];
                if (err.responseJSON && err.responseJSON.errors) {
                    errorMessages = err.responseJSON.errors;
                }
                displayErrors(errorMessages);
                hideLoadingSpinner();
                $('#search-db-btn').prop('disabled', false);
                $('#search-db-btn').text('Search');
                $('#task-progress').hide();
                $('#elapsed-time').hide();
                document.getElementById('errors-container').style.display = 'block';

            }
        });
    }

    function startTask(activeTaskIds) {
        $.ajax({
            url: '{% url "start_work" %}',
            method: 'GET',
            success: function(data) {
                let taskId = data.task_id;
                console.log('Task started with ID:', taskId);
                $('#task-progress').html('<p>Task started</p>');
                showLoadingSpinner();
                pollProgress(taskId);  // Use the new task ID for polling progress
            },
            error: function(err) {
                console.error('Error starting task:', err);
            }
        });
    }

        function attachToggleContentListeners() {
        const toggleButtons = document.querySelectorAll(".toggle-content");
        toggleButtons.forEach(function(btn) {
            btn.addEventListener("click", function() {
                const content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                    this.innerText = "Show Abstract";
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                    this.innerText = "Hide Abstract";
                }
            });
        });
    }

    function renderResults(taskId, retryCount = 0) {
        const MAX_RETRIES = 5;
        const RETRY_DELAY = 1000; // 1 second
        
        console.log('Rendering results for task ID:', taskId, 'Retry:', retryCount);
        $.ajax({
            url: `/return_render_results/${taskId}/`,  // Pass taskId to fetch results specific to this task
            method: 'GET',
            success: function(data) {
                console.log('Results data received, length:', data.length);
                
                // Check if we got valid HTML content
                if (!data || data.trim().length === 0) {
                    console.warn('Empty results data received');
                    if (retryCount < MAX_RETRIES) {
                        console.log('Retrying in', RETRY_DELAY, 'ms...');
                        setTimeout(function() {
                            renderResults(taskId, retryCount + 1);
                        }, RETRY_DELAY);
                        return;
                    } else {
                        $('#results-container').html('<p style="color: orange; padding: 20px;">Results are still being processed. Please wait a moment and refresh the page.</p>');
                        return;
                    }
                }
                
                // Clear and prepare the main results container
                let mainContainer = $('#results-container');
                if (!mainContainer.length) {
                    console.error('Results container not found!');
                    return;
                }
                
                // Clear any existing content
                mainContainer.empty();
                
                // Insert the new results HTML
                mainContainer.html(data);
                
                // Ensure the container is visible
                mainContainer.show();
                
                console.log('Results container shown, content length:', mainContainer.html().length);
                
                // Re-attach event listeners for toggle buttons and filters
                attachToggleContentListeners();
                
                // Re-attach filter checkbox handler
                $('#filter-warnings').off('change').on('change', function() {
                    if ($(this).is(':checked')) {
                        $('.warning-row').hide();
                    } else {
                        $('.warning-row').show();
                    }
                });
            },
            error: function(err) {
                console.error('Error rendering results:', err);
                if (retryCount < MAX_RETRIES && err.status !== 404) {
                    console.log('Retrying in', RETRY_DELAY, 'ms...');
                    setTimeout(function() {
                        renderResults(taskId, retryCount + 1);
                    }, RETRY_DELAY);
                } else {
                    $('#task-progress').html('<p style="color: red;">Error loading results. Please try refreshing the page.</p>');
                    $('#results-container').html('<p style="color: red; padding: 20px;">Failed to load results. Please try again or contact support if the problem persists.</p>');
                }
            }
        });
    }
    function displayErrors(errors) {
        document.getElementById('errors-container').style.display = 'block';
        let errorContainer = $('#errors-container');
        $('#task-progress').hide();
        $('#elapsed-time').hide();
        hideLoadingSpinner();
        errorContainer.html('');
        errors.forEach(function(e) {
            let errorHtml = `
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    ${e}
                </div>
            <br/>`;
            errorContainer.append(errorHtml);
        });
    }

    $('#search-db-btn').click(function(event) {
        event.preventDefault();  // Prevent the form from submitting

        // Clear any text inside the results container
        $('#results-container').empty();

        // Hide the results container
        $('#results-container').hide();

        let postData = $('#peptide-search-form').serializeArray();
        let formData = {};
        $.each(postData, function() {
            if (formData[this.name]) {
                if (!Array.isArray(formData[this.name])) {
                    formData[this.name] = [formData[this.name]];
                }
                formData[this.name].push(this.value || '');
            } else {
                formData[this.name] = this.value || '';
            }
        });

        // Disable the search button
        $('#search-db-btn').prop('disabled', true);
        $('#search-db-btn').text('Searching...');
        document.getElementById('errors-container').style.display = 'none';

        $.ajax({
            url: '/',  // Ensure the URL points to the correct view
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            data: formData,
            success: function(data) {
                if (data.errors && data.errors.length > 0) {
                    console.error('Errors returned:', data.errors);
                    displayErrors(data.errors);  // Display the errors
                    $('#search-db-btn').prop('disabled', false);
                    $('#search-db-btn').text('Search');
                } else {
                    console.log('Form data submitted successfully');
                    // If task_id is in the response, use it directly
                    if (data.task_id) {
                        console.log('Task ID from response:', data.task_id);
                        $('#task-progress').html('<p>Task started</p>');
                        showLoadingSpinner();
                        pollProgress(data.task_id);
                    } else {
                        // Otherwise, fetch active tasks and then start a new task
                        fetchActiveTasks(startTask);
                    }
                }
            },
            error: function(err) {
                console.error('Error submitting form data:', err);
                let errorMessages = ['An error occurred while submitting the search. Please try again.'];
                if (err.responseJSON && err.responseJSON.errors) {
                    errorMessages = err.responseJSON.errors;
                }
                displayErrors(errorMessages);
                $('#search-db-btn').prop('disabled', false);
                $('#search-db-btn').text('Search');
                $('#task-progress').hide();
                $('#elapsed-time').hide();
                document.getElementById('errors-container').style.display = 'block';
            }
        });
    });

    // Attach the event listeners when the DOM content is loaded initially
    document.addEventListener("DOMContentLoaded", function() {
        attachToggleContentListeners();
    });

    function pollProgress(taskId) {
        console.log('Polling progress for task ID:', taskId);
        $.ajax({
            url: `/check-progress/${taskId}/`,
            method: 'GET',
            success: function(data) {
                console.log('Progress data:', data);

                // Handle null/undefined size gracefully
                var sizeDisplay = (data.size !== null && data.size !== undefined) ? data.size : 'unknown';
                var progressText = 'Progress: ' + (data.percent_progress || 0).toFixed(2) + '% (' + (data.progress || 0) + ' processed out of ' + sizeDisplay + ').';
                $('#task-progress').html(progressText);
                
                // Handle undefined elapsed_time gracefully
                var elapsedTime = (data.elapsed_time !== null && data.elapsed_time !== undefined) ? data.elapsed_time.toFixed(2) : '0.00';
                var timeInfo = 'Elapsed time: ' + elapsedTime + ' seconds';
                
                // Add estimated time remaining if available
                if (data.estimated_time_remaining !== null && data.estimated_time_remaining !== undefined && data.estimated_time_remaining > 0) {
                    var estimatedRemaining = data.estimated_time_remaining.toFixed(2);
                    timeInfo += '<br/>Estimated time remaining: ' + estimatedRemaining + ' seconds';
                }
                
                $('#elapsed-time').html(timeInfo + '<br/>');
                
                if (data.status == 'in_progress') {
                    setTimeout(function() {
                        pollProgress(taskId);
                    }, 1000);
                } else if (data.status == 'complete') {
                    hideLoadingSpinner();
                    $('#task-progress').html('<p style="font-size: 1.5em;"><b>Search complete</b></p>');
                    var finalElapsedTime = (data.elapsed_time !== null && data.elapsed_time !== undefined) ? data.elapsed_time.toFixed(2) : '0.00';
                    $('#elapsed-time').html('Elapsed time: ' + finalElapsedTime + ' seconds<br/>');
                    
                    // Ensure results container is visible before rendering
                    $('#results-container').show();
                    renderResults(taskId);  // Pass taskId here
                    $('#search-db-btn').prop('disabled', false);
                    $('#search-db-btn').text('Search');

                }

            },
            error: function(err) {
                console.error('Error polling progress:', err);
            }
        });
    }
});
</script>
{% if not errors%}


<div id="loadingSpinner" style="display:none;">
    <img src="{% static 'peptide/VI5N.gif' %}" alt="Loading..." style="width: 50px; height: 128px;">
    <p style="font-size: 1.5em;"><b>Searching, please wait...</b></p>
</div>
<div id="task-progress"></div>
<div id="elapsed-time"></div>


<div id="results-container">
    {% include 'peptide/results_section.html' %}
</div>
{% endif %}

<script>
$(function () {
  $('select').each(function () {
    $(this).select2({
      theme: 'bootstrap4',
      width: 'style',
      placeholder: $(this).attr('placeholder'),
      allowClear: Boolean($(this).data('allow-clear')),
    });
  });
});
document.addEventListener('DOMContentLoaded', function() {
    const toggleBtn = document.getElementById('toggleAdvancedOptions');
    const collapsibleDiv = document.getElementById('advancedSearchOptions');

    // Define a maximum height for the collapsible content
    const maxHeight = "800px";  // For example, set to 300 pixels. You can adjust this value.

    toggleBtn.addEventListener('click', function() {
        if (collapsibleDiv.style.maxHeight && collapsibleDiv.style.maxHeight !== '0px') {
            collapsibleDiv.style.maxHeight = null;
        } else {
            collapsibleDiv.style.maxHeight = maxHeight;
        }
    });

    // Set z-index values from data attributes to avoid CSS linter errors with Django template syntax
    document.querySelectorAll('.mytooltip[data-z-index]').forEach(function(element) {
        element.style.zIndex = element.getAttribute('data-z-index');
    });
});


document.querySelector('#loadFileLink').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent the default anchor action
    document.querySelector('#hiddenFileInput').click();
});

document.querySelector('input[name="inputfile"]').addEventListener('change', function(event) {
    var file = event.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // Split the content based on whitespace, tab, newline, and comma
            var peptides = e.target.result.split(/[\s,\t\n]+/);

            // Validate each peptide
            for (const peptide of peptides) {
                if (!/^[a-zA-Z]*$/.test(peptide)) {
                    // Show an error message and prevent further actions
                    alert('Your input has some invalid characters. Please use only letters.');
                    return;
                }
            }

            // Join using newlines and populate the textarea
            document.querySelector('textarea[name="peptides"]').value = peptides.join('\n');

            // Clear the file input
            document.querySelector('input[name="inputfile"]').value = '';
        };
        reader.readAsText(file);
    }
});


// Only add event listener if downloadLink exists
const downloadLink = document.getElementById('downloadLink');
if (downloadLink) {
    downloadLink.addEventListener('click', function() {
        const hiddenButton = document.getElementById('hiddenButton');
        if (hiddenButton) {
            hiddenButton.click();
        }
    });
}


// This function checks if the input string has only allowed characters
function isValidInput(str) {
    return /^[A-Za-z0-9, \-]*$/.test(str);
}

// Call this function when you want to validate the fields
function validateFields() {
    const functionInput = document.querySelector("input[name='function']").value;
    const proteinIdInput = document.querySelector("input[name='proteinid']").value;
    const speciesInput = document.querySelector("input[name='species']").value;

    if (!isValidInput(functionInput) || !isValidInput(proteinIdInput) || !isValidInput(speciesInput)) {
        alert('Invalid input. Your input has some invalid characters. Please use only letters, numbers, commas, spaces, or dashes.');
        return false; // Prevent the form from being submitted
    }
    return true; // Proceed with form submission
}
</script>
{% endblock 'content' %}
