{% extends 'peptide/base.html' %}
{% load staticfiles %}
{% block 'content' %}
<h1>Skyline output enchancement</h1>
{% for e in errors %}
<div class="alert alert-danger  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
  <span class="sr-only">Close</span>
  </button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{e}}
</div>
{% endfor %}
<form method="POST" enctype="multipart/form-data" action="." role="form">
{% csrf_token %}
<div class="form-group">
    <label for="exampleInputFile">Input TSV</label>
    <input type="file" name="input_tsv"/>
    <p class="help-block">For format requirements, view the <a href="{% static 'peptide/example/ExampleSkylineInput.tsv'%}">example file</a>.</p>
</div>
<div class="form-group">
    <label for="exampleInputFile">Input XML files</label>
    <input type="file" name="input_xmls" multiple/>
    <p class="help-block">You can choose multiple XML files at once.</p>
</div>
<button class="btn btn-default">Run</button>
</form>
{% endblock 'content' %}
