{% extends "admin/base_site.html" %}

{% block content %}
    {{ block.super }}

    {% if request.user.is_staff %}
    <div class="app-github module">
        <table>
            <caption>
                <span class="section">GitHub</span>
            </caption>
            <tbody>
                <tr class="model-github">
                    <td colspan="2">
                        <h2>GitHub Actions</h2>
                        <form method="post" style="display:inline;" action="{% url 'admin:github-git-init' %}">{% csrf_token %}<button class="button" type="submit">Git Init</button></form>
                        <form method="post" style="display:inline;" action="{% url 'admin:github-git-push' %}">{% csrf_token %}<button class="button" type="submit">Git Push</button></form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %} 