.sidebar-nav li a {
        color: #ffffff;
}

.sidebar-nav {
        color: #ffffff;
}
.help-block {
    margin-bottom: 0;
}
/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.mytooltip .mytooltiptext {
    visibility: hidden;
    background-color: #215278;
    color: #fff;
    text-align: left;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: relative;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
    visibility: visible;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

    /* Position the tooltip text - see examples below! */
    position: relative;
    z-index: 1;

}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}
